@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-600: #01e871;
  --color-primary-700: #019348;
  --color-secondary-700: #feb358;
  --color-secondary-700: #fe9c25;
  --color-black: #121514;
}

:root {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: var(--color-black);
}
